
#card-area{
    background-image: url('/src/images/bg-main-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    color: aliceblue;
    height: 345px;
    width: 100%;
}

#card-back{
    background-image: url('/src/images/bg-card-back.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 1px solid red;    
    height: 245px;/*image height*/
    width: 100%;
    top: 50px;
}

#card-front{
    background-image: url('/src/images/bg-card-front.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 195px;
    border: 1px solid red;
    height: 245px;
    width: 80%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }